<div style="margin: 8px 0; font-size: 0.95em;">
	<p><b>{{casterName}}</b> usou <b>{{spellName}}</b>!</p>
	<p><b>{{actorName}}</b> precisa fazer um teste de
	   <b>{{saveLabel}}</b>{{#if showCD}} (CD {{cd}}){{/if}}.</p>
</div>
