<div class="tormenta20 chat-card item-card">
	<header class="card-header flexrow">
		<h3 class="item-name">
			<div>Teste de {{saveLabel}}</div>
		</h3>
	</header>
	<div class="card-content">
		<p><b>{{actorName}}</b> vs <b>{{spellName}}</b>
		   de <b>{{casterName}}</b></p>
	</div>
	<div class="roll">{{{rollHTML}}}</div>
	<div class="t20-result-banner {{bannerClass}}">
		{{bannerIcon}} {{bannerText}} &nbsp; ({{total}} vs CD {{cd}})
	</div>
</div>
