<div class="tormenta20 chat-card item-card">
	<header class="card-header flexrow">
		<h3 class="item-name"><div>{{emoji}} {{headerText}}</div></h3>
	</header>
	<div class="card-content">
		<p style="margin:2px 0; font-size:0.85em;">
			<b>{{attackerName}}</b> rolou {{attackLabel}}: <b>{{attackerTotal}}</b>{{{attackerNat20HTML}}}
		</p>
	</div>
	<table class="t20-opposed-table">
		<tr>
			<th>{{actorOrToken}}</th>
			<th>{{defenseAbbr}}</th>
			{{#if showBonus}}<th>Bônus</th>{{/if}}
			<th>{{resultHeader}}</th>
		</tr>
		{{#each results}}
		<tr class="t20-opposed-row {{this.cssClass}}">
			<td>
				<a class="{{this.linkClass}}"
				   {{#if this.tokenId}}data-tid="{{this.tokenId}}"{{/if}}
				   {{#if this.actorId}}data-aid="{{this.actorId}}"{{/if}}>{{this.name}}</a>
			</td>
			<td>{{this.total}}{{{this.nat20HTML}}}</td>
			{{#if ../showBonus}}<td>+{{this.bonus}}</td>{{/if}}
			<td>{{this.icon}}</td>
		</tr>
		{{/each}}
	</table>
</div>
