{{#each targets}}
<div class="t20-result-banner {{this.cssClass}}">
	<span class="t20-result-label">
		vs <b>{{this.name}}</b> (Def {{this.defense}})
	</span>
	<br>
	{{this.icon}} {{this.label}}{{#if (eq this.naturalRoll 20)}} <em>(Nat 20!)</em>{{/if}}{{#if (eq this.naturalRoll 1)}} <em>(Nat 1!)</em>{{/if}} &nbsp; ({{../attackTotal}} vs {{this.defense}})
</div>
{{/each}}
