<img src="{{actorImg}}" alt="{{actorName}}">
<span>{{actorName}}</span>
<div class="bonus-col"><span>{{defenseAbbr}} {{bonusVal}}</span></div>
<a class="actor-remove" title="Remover"><i class="fas fa-trash"></i></a>
